/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

body{
  background-color: black;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

.white-text{
 
  color: white;
}

.inner-box{
  background-color: red;
}

#outer-box{
  padding: 10px 10px;
  border: 10px solid purple;
}

