body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 3rem;
}

footer {
  text-align: right;
  color: midnightblue;
}
.tile-image {
  width: auto;
  height: 150px;
  float: left;
  margin-right: 50px;
  border: 5px solid black;
  border-radius: 5px;
}
.card-title {
  font-family: "Kanit", sans-serif;
}

.card {
  width: 45%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.creative {
  color: midnightblue;
}
@media (max-width: 680px) {
  .logo {
    width: 20%;
  }

  .creative {
    color: maroon;
  }

  h1 {
    font-size: 3rem;
    text-align: center;
  }
  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }
  .card img {
    margin-bottom: 10px;
    width: 100px;
    display: inline;
    object-fit: cover;
    border: 5px solid black;
    border-radius: 5px;
  }
}
